body {
	padding: 0;
	margin: 0;
	height: 99vh;
	background-color: #000;
}
#canvas {
	position: center;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
    
}


.header {
	position: fixed;
	top: 50%;
    left: 42%;
	color: #fff;
	text-decoration: none;
	font-size: 70px;
}